h1{
    font-size: 3rem;
    text-transform: uppercase;
}
body{
    background-color: black;
}
div{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
}
img{
    border: 5px solid gray;
    width: 100%;
}
